src/main/webapp/r201107/wsdl/xsd/TypeFaultCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="http://common.soagrowers.com/201107" targetNamespace="http://common.soagrowers.com/201107" elementFormDefault="qualified" version="1.0">
	<xs:complexType name="TypeFaultCode">
		<xs:sequence>
			<xs:element name="errorId" type="xs:string">
				<xs:annotation>
					<xs:documentation>The error identifer which is unique in the system only.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="systemId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
